  * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background: linear-gradient(to right, #99c1de, #bcd4e6, #d6e2e9, #f0efeb, #dbe7e4);
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.jumbotron {
    background: linear-gradient(to left, #99c1de, #bcd4e6, #d6e2e9, #f0efeb, #dbe7e4);
}

.card-header {
    background-color: #99c1de;
}

.team-area {
    display: grid;
}

.col-12 {
    grid-template-columns: 30% 30% 30%;
    margin: auto;
}
    @media (max-width: 500px) {
      p {
        font-size: 1.25rem; 
      }
    }
    @media (orientation: landscape) {
  
    }
    @media(orientation: portrait) {
  
    }
    @media (min-width: 800px) {
      p { font-size: 1.5rem;
          line-height: 1.5;
      }
    }